services:
    nginx:
        container_name: nginx
        image: nginx:1.29.5
        restart: unless-stopped
        ports:
            - "80:80/tcp"
            - "443:443/tcp"
            - "443:443/udp"
        environment:
            TZ: ${TZ}
            KOMODO_DOMAIN: ${KOMODO_DOMAIN}
            KOMODO_PORT: ${KOMODO_PORT}
            ADGUARD_HOME_DOMAIN: ${ADGUARD_HOME_DOMAIN}
        volumes:
            - ./data/nginx.conf:/etc/nginx/nginx.conf:ro
            - ./data/templates:/etc/nginx/templates:ro
            - ./data/snippets:/etc/nginx/snippets:ro
            - certbot-etc:/etc/letsencrypt:ro
        networks:
            - proxy-internal

    certbot:
        image: certbot/dns-cloudflare:v5.3.1
        command: >
          certonly
          --non-interactive
          --agree-tos
          --no-eff-email
          --email ${CERTBOT_EMAIL}
          --dns-cloudflare
          --dns-cloudflare-credentials /root/certbot-creds.ini
          --cert-name homelab
          --domain ${KOMODO_DOMAIN}
          --domain ${ADGUARD_HOME_DOMAIN}
        volumes:
            - ./certbot-creds.ini:/root/certbot-creds.ini:ro # chmod 600 ./certbot-cred.ini
            - certbot-etc:/etc/letsencrypt

volumes:
    certbot-etc:

networks:
    proxy-internal:
        external: true
